body{
  margin: none;
  padding: none;
  background: #000;
  color: #fff;
  font-family: 'Open Sans';
}

.category{
  padding-left: 1.5em;
  margin-top: 4em;
}

.wrapper{
  display: flex;
  width: 100%;
  /* align-items: stretch; */
}

#sidebar{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: center;
  width: 50px;
  height: 100vh;
  position: fixed;
  top: 25%;
  left: 0;
  z-index: 999;
}

#sidebar a{
  color: #07b7bd;
  font-size: 2em;
  padding-top: .5em;
  padding-left: .5em;
}

#sidebar a:hover{
  transform: scale(1.3);
  color: #1aeff7;

}

#name {
  /* display: flex;
  align-items: baseline;
  padding: 12px; */
  height: 100vh;
  margin-bottom: 2em;
}

#name h1{
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  letter-spacing: -.5rem;
  font-size: 8em;
  /* standard gradient background */
  background: url('./assets/jr-korpa-Jjd4Dl8Yl2M-unsplash.jpg') no-repeat center center;
  background-attachment: fixed;
  color: #fff;
  /* clip hackery */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} 

#content{
  margin-left: 5em;
  margin-right: 1em;
  font-size: 1em;
  margin-top: 10em;
}

#content a{
  color: #d9ac56;
  transform: scale(1.1);
  text-shadow: 0 0 1px #fbeccf;
}


h2{
  font-family: 'Pacifico', cursive;
  padding: .5em 0 .5em 0;
}

#skillsAccordion{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
}

.card-header{
  background: transparent;
  /* border: 1px #ec9c0e solid; */
  /* text-align: center; */
  /* height: 6rem; */
}

.card-header h2 {
  font-family: 'Work Sans', 'Open Sans', Sans-serif;
  font-stretch: condensed;
  /* font-weight: 300; */
}

.btn-link{
  color: #d9ac56;
  font-size: .75em;
  text-align: center;
  text-transform: uppercase;
  /* transition: all .3s ease-in-out; */
}

.btn:hover{
  color: #d9ac56;
  transform: scale(1.1);
  text-shadow: 0 0 1px #fbeccf;
}

.card{
  background: transparent;
}


.flip-card {
  display: flex;
  background-color: transparent;
  height: 300px;
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin-bottom: 3em;
}

.flip-card h4{
  font-weight: bold;
  margin-bottom: .5em;
}


/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  display: flex;
}

/* Style the back side */
.flip-card-back {
  display: flex;
  background: #111415;
  justify-content: center;
  flex-direction: column;
  transform: rotateY(180deg);
}
