body{
  margin: none;
  padding: none;
  background: #000;
  color: #fff;
  font-family: 'Open Sans';
}


.wrapper{
  display: flex;
  width: 100%;
  /* align-items: stretch; */
}

#sidebar{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: center;
  width: 50px;
  height: 100vh;
  position: fixed;
  top: 25%;
  left: 0;
  z-index: 999;
}

#sidebar a {
  color: #07b7bd;
  font-size: 2em;
  padding-top: .5em;
  padding-left: .25em;
}

#name {
  /* display: flex;
  align-items: baseline;
  padding: 12px; */
  height: 100vh;
}

#name h1{
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  letter-spacing: -4px;
  font-size: 8em;
  /* standard gradient background */
  background: url('./assets/jr-korpa-Jjd4Dl8Yl2M-unsplash.jpg') no-repeat center center;
  background-attachment: fixed;
  color: #fff;
  /* clip hackery */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} 

#content{
  margin-left: 5em;
  font-size: 1em;
}


h2{
  font-family: 'Pacifico', cursive;
  padding: .5em 0 .5em 0;
}

.card-header{
  background: transparent;
  border: 1px #ec9c0e solid;
  text-align: center;
}

.card-header h2 {
  font-family: 'Open-Sans', Sans-serif;
  text-align: center;
}

.btn-link{
  color: #d9ac56;
  font-size: .75em;
  text-align: center;
}

.card{
  background: transparent;
}